* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 60px;
    background-color: rgb(0, 0, 0);
  }
  
li {
    float: left;
    height: 60px;
    margin-top: 5px;
}

li a {
    display: block;
    color: gainsboro;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.main {
    background-image: linear-gradient(to right, #0d147a 0%, #55b2ce 100%);
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.project_header {
    display: flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    margin-top: 0px;

    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 35px;
    letter-spacing: 0.2px;
    word-spacing: 0px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;

    -webkit-text-fill-color: rgb(0, 0, 0);
    stroke: white;
    stroke-width: 2px;
    stroke-linejoin: round;
    animation: 2s pulsate infinite;
}

.project_title {
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    margin-top: 30px;

    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 35px;
    letter-spacing: 0.2px;
    word-spacing: 0px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;

    -webkit-text-fill-color: rgb(0, 0, 0);
    stroke: white;
    stroke-width: 2px;
    stroke-linejoin: round;
    animation: 2s pulsate infinite;
}

.project {
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
    width: 50%;
    margin-top: 25px;

    font-family: "Arial Narrow", Arial, sans-serif;
    font-size: 25px;
    letter-spacing: 0.2px;
    word-spacing: 1.5px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;

    -webkit-text-fill-color: rgb(0, 0, 0);
    stroke: rgb(255, 255, 255);
    stroke-width: .5px;
    stroke-linejoin: round;
    animation: 2s pulsate infinite;
}

a {
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #ffffff;
    color: black;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .35s ease-in-out, box-shadow .35s ease-in-out;
}

a:hover {
    box-shadow: inset 200px 0 0 0 color none;
    color: white;
}