<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
</head>
<body>
    <ul>
        <li><a href="aboutme.ejs">About Me</a></li>
        <li><a href="projects.ejs">Projects</a></li>
        <li><a href="">Resume</a></li>
        <li><a href="contact.ejs">Contact Me</a></li>
        <li><a href="">Github</a></li>
        <li><a href="">LinkedIn</a></li>
    </ul>
    <main>
        <div>
            <form action="">
                <label for="name"> Your name </label>
                    <input type="text" name="name" id="">
                <label for="email"> Your email </label>
                    <input type="email" name="email" id="">
                <label for="message"> Content </label>
                    <input type="text" name="message" id="">
                <button>Send Email</button>
            </form>
        </div>
    </main>
</body>
</html>