<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <link rel="stylesheet" href="contact.css">
</head>
<body>
    <ul>
        <li><a href="aboutme.ejs">About Me</a></li>
        <li><a href="projects.ejs">Projects</a></li>
        <li><a href="">Resume</a></li>
        <li><a href="contact.ejs">Contact Me</a></li>
        <li><a href="https://github.com/PaulUJS">Github</a></li>
        <li><a href="https://www.linkedin.com/in/paul-ulerick-a01947217/">LinkedIn</a></li>
    </ul>
    <main>
        <div>
            <form action="" method="post">
                <label for="email"> Your email </label>
                    <input type="email" name="email" id="">
                <label for="subject"> Subject </label>
                    <input type="text" name="subject" id="">
                <label for="content"> Content </label>
                    <input type="text" name="content" id="">
                <button type="submit">Send Email</button>
            </form>
        </div>
    </main>
</body>
</html>